* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url('https://st2.depositphotos.com/2878281/10976/i/950/depositphotos_109762036-stock-photo-workplace-artist-top-view-paint.jpg');
  background-size: cover;

}


#color-palette {
  background-color: white;
  margin: 0 auto;
  padding: 16px;
  border-radius: 2px;
}


.color {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px black;
  display: inline-block;
}

#pixel-board {
  margin: 10px auto;
  display: table;

}


.button {
  margin-bottom: 10px;
}
