* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;

}


#color-palette {
  background-color: white;
  margin: 0 auto;
  padding: 16px;
}


.color {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px black;
  display: inline-block;
}

#pixel-board {
  display: inline-block;
  margin: 10px auto;
  width: 250px;

}

.pixel-linha {
  display: inline-block;

}

.button {
  margin-bottom: 10px;
}
